<div class="jumbotron">
		<div id="message">{{action}}</div>
		<div>
			<form >
				<div class="form-group">
				    <label >Nom: </label>
				    <input type ="text" ng-model="developper.name" placeholder="Entrer le nom du developpeur" class="form-control"/>
			    </div>
			    <button type="button" ng-click="insertDeveloppeur(developper)">Inserer</button>
				
			</form>
		</div>
</div>
