<div class="jumbotron">
		<div>
			<table style="background-color: white; margin:5px;"class='table table-bordered'>
				<caption> Liste des developpeurs</caption>
				<tr>
					<th>Id </th> <th> Nom </th> 
				</tr>
				<tr style ="text-align:left;" ng-repeat="dev in developpers | orderBy : 'id'"> 
					<td>{{ dev.id}}</td>
					<td>{{ dev.name}}</td>
				</tr>
			</table>
		</div>
	</div>
