<div class="jumbotron">
			<div id="message"></div>
			<div>
				<form class="form-horizontal" role="form" ng-submit="updateDeveloppeur(developper)">
				   <label>Id: </label> <input class="form-control" ng-model="developper.id" placeholder="Entrer l'id du developpeur"/>
				   <label>Nom: </label> <input class="form-control" ng-model="developper.name" placeholder="Entrer son nouveau nom"/>
				    <button type="submit">Mettre à jour</button>
				</form>
			</div>
</div>
