<div class="jumbotron">
			<div id="message">
				
			</div>
 			<div>
				<form class="form-horizontal" role="form" ng-submit="deleteDeveloppeur(developper)">
				   <label>Id: </label> <input ng-model="developper.id" placeholder="Entrer l'id du developpeur" class="form-control""/>
				    <button type="submit">Supprimer</button>
				</form>
			</div>
</div>
